<wrapper-section [id]="id">
    <title-section
        [title]="title"
        [description]="description"
        [supTitle]="supTitle"
    />

    <div class="grid grid-cols-3 gap-8">
        <div class="cart" *ngFor="let card of aboutCards">
            <div class="cart_item">
                <div class="cart_img">
                    <img
                        [ngSrc]="card.img"
                        [alt]="card.text"
                        class="w-full h-[15.5rem]"
                        width="380"
                        height="250"
                    />
                </div>
                <div class="hidden">
                    <i [class]="card.icon"></i>
                    <p>{{ card.text }}</p>
                </div>
            </div>
        </div>
    </div>
</wrapper-section>
