<wrapper-section [id]="id">
    <title-section
        [title]="title"
        [description]="description"
        [supTitle]="supTitle"
    />

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="group bg-teal-200" *ngFor="let card of aboutCards">
            <div
                class="relative duration-300 group-hover:-translate-x-2.5 group-hover:-translate-y-2.5"
            >
                <img
                    [ngSrc]="card.img"
                    [alt]="card.text"
                    class="w-full h-[15.5rem] object-cover"
                    width="380"
                    height="250"
                />
                <div
                    class="absolute inset-0 bg-gradientPattern flex flex-col items-center justify-center gap-4 text-white uppercase text-sm font-bold opacity-0 group-hover:opacity-100 duration-300"
                >
                    <i [class]="card.icon + ' text-3xl'"></i>
                    <p>{{ card.text }}</p>
                </div>
            </div>
        </div>
    </div>
</wrapper-section>
