<wrapper-section [id]="id">
    <title-section
        [title]="title"
        [description]="description"
        [supTitle]="supTitle"
    />

    <div class="carts">
        <div class="cart">
            <div class="cart_item">
                <div class="cart_img">
                    <img
                        src="/public/images/about/1.jpg"
                        alt=""
                    >
                </div>
                <div class="item__text"><i class="fas fa-user-friends"></i>
                    <p>super team</p>
                </div>
            </div>
        </div>

        <div class="cart">
            <div class="cart_item">
                <div class="cart_img">
                    <img
                        src="/public/images/about/2.jpg"
                        alt=""
                    >
                </div>
                <div class="item__text"><i class="fas fa-user-friends"></i>
                    <p>super team</p>
                </div>
            </div>
        </div>

        <div class="cart">
            <div class="cart_item">
                <div class="cart_img">
                    <img
                        src="/public/images/about/3.jpg"
                        alt=""
                    >
                </div>
                <div class="item__text"><i class="fas fa-user-friends"></i>
                    <p>super team</p>
                </div>
            </div>
        </div>

    </div>
</wrapper-section>
