<footer class="bg-gray-100 text-black pt-[4.5rem]">
    <div class="container mx-auto">
        <div class="flex flex-col justify-between lg:flex-row gap-14 lg:gap-10">
            <div class="grow max-w-md">
                <h3 class="text-5xl font-bold text-gray-300 pb-8">MoGo</h3>
                <p class="roboto text-sm text-gray-400 pb-12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p class="text-sm pb-3 border-b border-gray-300">
                    <span class="font-bold text-lg">15k</span> followers
                </p>
                <div class="flex items-center gap-3 py-4 text-sm">
                    <span class="roboto font-light italic text-gray-400"
                    >Follow Us:</span
                    >
                    <a
                        href="#"
                        class="text-teal-300 hover:text-red-400 duration-300"
                    ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a
                        href="#"
                        class="text-teal-300 hover:text-red-400 duration-300"
                    ><i class="fab fa-twitter"></i
                    ></a>
                    <a
                        href="#"
                        class="text-teal-300 hover:text-red-400 duration-300"
                    ><i class="fab fa-instagram"></i
                    ></a>
                    <a
                        href="#"
                        class="text-teal-300 hover:text-red-400 duration-300"
                    ><i class="fab fa-pinterest-p"></i
                    ></a>
                    <a
                        href="#"
                        class="text-teal-300 hover:text-red-400 duration-300"
                    ><i class="fab fa-google-plus-g"></i
                    ></a>
                    <a
                        href="#"
                        class="text-teal-300 hover:text-red-400 duration-300"
                    ><i class="fab fa-youtube"></i
                    ></a>
                    <a
                        href="#"
                        class="text-teal-300 hover:text-red-400 duration-300"
                    ><i class="fab fa-dribbble"></i
                    ></a>
                    <a
                        href="#"
                        class="text-teal-300 hover:text-red-400 duration-300"
                    ><i class="fab fa-tumblr"></i
                    ></a>
                </div>
                <form action="#" class="flex mt-6">
                    <input
                        type="email"
                        placeholder="Your Email..."
                        class="border border-gray-200 px-4 py-2.5 w-full sm:w-56 min-w-0 text-sm roboto font-light italic placeholder-gray-300 focus:outline-none focus:border-teal-300"
                    />
                    <button
                        class="bg-teal-200 text-white text-sm font-bold uppercase px-8 py-2.5 hover:bg-teal-400 duration-300"
                    >
                        Subscribe
                    </button>
                </form>
            </div>

            <div class="flex flex-col md:flex-row gap-14 md:gap-20 lg:gap-10 xl:gap-20 xl:shrink-0">
                <div class="max-w-[21rem]">
                    <h3 class="text-sm uppercase pb-10">blogs</h3>

                    <div class="flex flex-col gap-8">
                        <a
                            [href]="blog.link"
                            class="group flex gap-5 items-center"
                            *ngFor="let blog of footerBlogs"
                        >
                            <div class="relative shrink-0">
                                <img
                                    [ngSrc]="blog.img"
                                    [alt]="blog.title"
                                    class="w-[7.5rem] h-[5rem]"
                                    width="120"
                                    height="80"
                                />
                                <div
                                    class="absolute inset-0 bg-gradientPattern opacity-0 group-hover:opacity-100 duration-300"
                                ></div>
                            </div>

                            <div class="flex flex-col gap-2.5">
                                <h4 class="text-xs">{{ blog.title }}</h4>
                                <div class="roboto text-xs text-gray-400">
                                    {{ blog.date }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <h3 class="text-sm uppercase pb-10">instagram</h3>

                    <div class="grid grid-cols-3 gap-0.5">
                        <a
                            *ngFor="let img of instGallery"
                            href="#"
                            class="relative group"
                        >
                            <img
                                [ngSrc]="img"
                                alt="Instagram image"
                                class="w-[5rem] h-[5rem]"
                                width="100"
                                height="100"
                            />
                            <div
                                class="absolute inset-0 bg-gradientPattern opacity-0 group-hover:opacity-100 duration-300"
                            ></div>
                        </a>
                    </div>
                    <a class="flex text-xs font-light mt-5" href="#">
                        View more photos
                    </a>
                </div>
            </div>
        </div>

        <hr class="mt-16"/>

        <div class="text-center py-10">
            © {{ currentYear }} MoGo free PSD template by
            <a class="text-red-400" href="#">Laaqiq</a>
        </div>
    </div>
</footer>
