<footer class="bg-zinc-200">
    <div class="container mx-auto">
        <div class="footer">
            <div class="footer-info">
                <h3>MoGo</h3>
                <p class="info_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="followers"><span>15k</span> followers</p>
                <div class="footer_following">
                    <span>Follow Us:</span>
                    <a href="#"><i class="fab f fa-facebook-f"></i></a>
                    <a href="#"><i class="fab f fa-twitter"></i></a>
                    <a href="#"><i class="fab f fa-instagram-square"></i></a>
                    <a href="#"><i class="fab f fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab f fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab f fa-youtube"></i></a>
                    <a href="#"><i class="fab f fa-dribbble"></i></a>
                    <a href="#"><i class="fab f fa-tumblr"></i></a>
                </div>
                <form action="#">
                    <input type="email" placeholder="Your Email...">
                    <button>Subscribe</button>
                </form>
            </div>
            <div class="wrapper_for_rightSide">
                <div class="footer-blogs">
                    <h4>blogs</h4>
                    <div class="footer_blog">
                        <div class="img"><img src="../public/images/blogs/1.png" alt=""></div>
                        <div class="title">
                            <a href="#">Lorem ipsum dolor sit amet,consectetur adipiscing</a>
                            <p>Jan 9, 2016</p>
                        </div>
                    </div>

                    <div class="footer_blog">
                        <div class="img"><img src="../public/images/blogs/2.png" alt=""></div>
                        <div class="title">
                            <a href="#">Consectetur adipiscing elit,sed do eiusmod tempor</a>
                            <p>Jan 9, 2016</p>
                        </div>
                    </div>

                    <div class="footer_blog">
                        <div class="img"><img src="../public/images/blogs/3.png" alt=""></div>
                        <div class="title">
                            <a href="#">sed do eiusmod temporincididunt ut labore</a>
                            <p>Jan 9, 2016</p>
                        </div>
                    </div>

                </div>

                <div class="footer-inst">
                    <h3>instagram</h3>
                    <div class="pics">
                        <a href="#"><img src="../public/images/instagram/1.png" alt=""></a>
                        <a href="#"><img src="../public/images/instagram/2.png" alt=""></a>
                        <a href="#"><img src="../public/images/instagram/3.png" alt=""></a>
                        <a href="#"><img src="../public/images/instagram/4.png" alt=""></a>
                        <a href="#"><img src="../public/images/instagram/5.png" alt=""></a>
                        <a href="#"><img src="../public/images/instagram/6.png" alt=""></a>
                        <a href="#"><img src="../public/images/instagram/7.png" alt=""></a>
                        <a href="#"><img src="../public/images/instagram/8.png" alt=""></a>
                        <a href="#"><img src="../public/images/instagram/9.png" alt=""></a>
                    </div>
                    <a class="more" href="#">View more photos</a>
                </div>
            </div>


        </div>
        <div class="copyright">
            © 2016 MoGo free PSD template by
            <a href="">Laaqiq</a>
        </div>
    </div>
</footer>
