<wrapper-section [id]="id">
    <title-section
        [title]="title"
        [supTitle]="supTitle"
    />

    <div class="blogs">

        <div class="blogs-blog">
            <div class="blogs_img">
                <div class="blogs__date">15 <br><span>Jan</span></div>
                <img src="../public/images/blog/1.png" alt="">
            </div>
            <h3>Lorem ipsum dolor sit amet</h3>
            <h4>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
            <hr>
            <div class="blogs_views">
                <i class="fas fa-eye"><span>542</span></i>
                <i class="fas fa-comment-dots"><span>17</span></i>
            </div>
        </div>

        <div class="blogs-blog">
            <div class="blogs_img">
                <div class="blogs__date">14 <br><span>Jan</span></div>
                <img src="../public/images/blog/2.png" alt="">
            </div>
            <h3>sed do eiusmod tempor</h3>
            <h4>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
            <hr>
            <div class="blogs_views">
                <i class="fas fa-eye"><span>992</span></i>
                <i class="fas fa-comment-dots"><span>42</span></i>
            </div>
        </div>

        <div class="blogs-blog">
            <div class="blogs_img">
                <div class="blogs__date">12 <br><span>Jan</span></div>
                <img src="../public/images/blog/3.png" alt="">
            </div>
            <h3>incididunt ut labore et dolore</h3>
            <h4>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
            <hr>
            <div class="blogs_views">
                <i class="fas fa-eye"><span>1560</span></i>
                <i class="fas fa-comment-dots"><span>98</span></i>
            </div>
        </div>

    </div>
</wrapper-section>
