<wrapper-section [id]="id">
    <title-section [title]="title" [supTitle]="supTitle" />

    <div class="grid grid-cols-3 gap-8">
        <div class="flex flex-col" *ngFor="let blog of blogs">
            <div class="relative">
                <div
                    class="absolute -left-3 bottom-2.5 bg-teal-200 text-white w-14 h-16 flex flex-col items-center justify-center"
                >
                    <span class="font-bold text-3xl">{{ blog.date }}</span>
                    <span class="text-sm font-light">{{ blog.month }}</span>
                </div>
                <img
                    [ngSrc]="blog.imgSrc"
                    [alt]="blog.title"
                    width="380"
                    height="240"
                    class="w-full h-60 object-cover"
                />
            </div>

            <h3 class="text-sm uppercase my-5">{{ blog.title }}</h3>
            <div class="roboto text-sm text-gray-400">
                {{ blog.description }}
            </div>

            <hr class="my-5" />

            <div class="flex gap-6 text-teal-200 text-sm mt-auto">
                <span class="flex items-center gap-2"
                    ><i class="fas fa-eye"></i> {{ blog.views }}</span
                >
                <span class="flex items-center gap-2"
                    ><i class="fas fa-comment-dots"></i>
                    {{ blog.comments }}</span
                >
            </div>
        </div>
    </div>
</wrapper-section>
