<div class="reviews">
    <div class="container">
        <div class="review">
            <div class="rewiew_img">
                <img class="rew_img" src="../public/images/SPEECH.png" alt="" />
            </div>

            <div class="reviews-content">
                <p class="reviews_text">
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                </p>
                <div class="reviews_author">Jon Doe</div>
            </div>
        </div>
    </div>
</div>

<!--<div class="reviews rews2">-->
<!--    <div class="container">-->
<!--        <div class="review rew2">-->
<!--            <div class="rewiew_img2">-->
<!--                <img class="rew_img2" src="../public/images/Layer_36.png" alt="">-->
<!--            </div>-->

<!--            <div class="reviews-content rew-con2">-->
<!--                <p class="reviews_text rew_text2">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do-->
<!--                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--                    exercitation.”</p>-->
<!--                <p class="reviews_author rew_aut2">Joshua Earle</p>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
