<wrapper-section [id]="id">
    <title-section
        [title]="title"
        [supTitle]="supTitle"
        [description]="description"
    />

    <div id="contact" class="carts">

        <div class="cart">
            <div class="cart_item">
                <div class="cart_img">
                    <img src="../public/images/authors/1.png" alt="">
                </div>
                <div class="item__text team__social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="cart_team">
                <h2>Matthew Dix</h2>
                <p>Graphic Design</p>
            </div>
        </div>

        <div class="cart">
            <div class="cart_item">
                <div class="cart_img">
                    <img src="../public/images/authors/2.png" alt="">
                </div>
                <div class="item__text team__social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="cart_team">
                <h2>Christopher Campbell</h2>
                <p>Branding/UX design</p>
            </div>
        </div>

        <div class="cart">
            <div class="cart_item">
                <div class="cart_img">
                    <img src="../public/images/authors/3.png" alt="">
                </div>
                <div class="item__text team__social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="cart_team">
                <h2>Michael Fertig </h2>
                <p>Developer</p>
            </div>
        </div>

    </div>
</wrapper-section>
