<section class="relative h-52">
    <img
        class="absolute z-0 inset-0 w-full h-full"
        ngSrc="/images/bg/bg-map.png"
        alt="Background image"
        fill
    >
    <div class="relative z-10 h-full container mx-auto flex flex-col items-center justify-center gap-5">
        <img
            ngSrc="/images/PIN_2.png"
            alt="marker"
            height="26"
            width="20"
        >
        <h3 class="text-red-400 text-2xl font-bold uppercase">Open map</h3>

        <span class="bg-red-400 h-1 w-16"></span>
    </div>
</section>
