<section [id]="id">
    <div class="container text-black mx-auto pt-24">
        <title-section
            [title]="title"
            [supTitle]="supTitle"
            [description]="description"
        />
    </div>

    <div class="grid grid-cols-4">
        <a
            [href]="card.link"
            [ngClass]="{ 'row-start-1 row-span-3 col-start-3': card?.isLarge }"
            class="relative group"
            *ngFor="let card of worksCards"
        >
            <img
                class="bg"
                [ngSrc]="card.image"
                [alt]="card.title"
                width="480"
                height="380"
            />

            <div
                class="absolute inset-0 bg-gradientPattern flex flex-col items-center justify-center duration-300 opacity-0 group-hover:opacity-100"
            >
                <img
                    [ngSrc]="'/images/works/PICTURE.png'"
                    alt="hover image"
                    width="30"
                    height="30"
                    class="w-8 h-8"
                />
                <h3 class="text-sm uppercase mt-5 mb-2">{{ card.title }}</h3>
                <div class="roboto text-sm font-light">
                    {{ card.description }}
                </div>
            </div>
        </a>
    </div>
</section>
