<wrapper-section [id]="id">
    <title-section
        [title]="title"
        [supTitle]="supTitle"
        [description]="description"
    />

    <div class="works">
        <div class="works-pics">
            <div class="works_pic">
                <img class="bg" src="../public/images/works/1.png" alt="1">
                <div class="hover"><a href="#"><img src="../public/images/works/PICTURE.png" alt="">
                    <h3>creatively designed</h3>
                    <p>Lorem ipsum dolor sit</p>
                </a>
                </div>
            </div>
            <div class="works_pic">
                <img class="bg" src="../public/images/works/2.png" alt="2">
                <div class="hover"><a href="#"><img src="../public/images/works/PICTURE.png" alt="">
                    <h3>creatively designed</h3>
                    <p>Lorem ipsum dolor sit</p>
                </a>
                </div>
            </div>
        </div>
        <div class="works-pics">
            <div class="works_pic">
                <img class="bg" src="../public/images/works/3.png" alt="4">
                <div class="hover"><a href="#"><img src="../public/images/works/PICTURE.png" alt="">
                    <h3>creatively designed</h3>
                    <p>Lorem ipsum dolor sit</p>
                </a>
                </div>
            </div>
            <div class="works_pic">
                <img class="bg" src="../public/images/works/4.png" alt="5">
                <div class="hover"><a href="#"><img src="../public/images/works/PICTURE.png" alt="">
                    <h3>creatively designed</h3>
                    <p>Lorem ipsum dolor sit</p>
                </a>
                </div>
            </div>
        </div>
        <div class="works-pics">
            <div class="works_pic">
                <img class="bg" src="../public/images/works/5.png" alt="3">
                <div class="hover"><a href="#"><img src="../public/images/works/PICTURE.png" alt="">
                    <h3>creatively designed</h3>
                    <p>Lorem ipsum dolor sit</p>
                </a>
                </div>
            </div>
        </div>
        <div class="works-pics">
            <div class="works_pic">
                <img class="bg" src="../public/images/works/6.png" alt="6">
                <div class="hover"><a href="#"><img src="../public/images/works/PICTURE.png" alt="">
                    <h3>creatively designed</h3>
                    <p>Lorem ipsum dolor sit</p>
                </a>
                </div>
            </div>
            <div class="works_pic">
                <img class="bg" src="../public/images/works/7.png" alt="7">
                <div class="hover"><a href="#"><img src="../public/images/works/PICTURE.png" alt="">
                    <h3>creatively designed</h3>
                    <p>Lorem ipsum dolor sit</p>
                </a>
                </div>
            </div>
        </div>
    </div>
</wrapper-section>
